body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #6c8293;
  height: 10rem;
  display: flex;
}

img {
  width: 18rem;
  height: 11rem;
  justify-content: start;
  margin-right: 2rem;
  object-fit: contain;
}

nav {
  background-color: white;
  width: 37.5rem;
  height: 3.8rem;
  border-radius: 0.4rem;
  align-content: center;
  margin-bottom: 1.6rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: start;
  padding-left: 0.6rem;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  margin: 0.4rem;
  padding: 0.4rem;
  border: #bbbbbb 0.1rem;
  border-radius: 0.5rem;
}

.navbar-link:hover {
  border: #bbbbbb 0.1rem solid;
  background-image: linear-gradient(to bottom, #e5e5e5, #f9f9f9);
  transition:all 0.3s ease;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  background-color: white;
  margin: 1rem;
  border-radius: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
  color: #ff7318;
  padding-top: 1rem;
  margin: 1rem;
}

p {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  margin: 1rem;
}



h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

table {
  background-color: #ff861c;
  table-layout: fixed;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
}

td {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-align: start;
  padding: 1.1rem;
}

.product-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin: 2rem;
  padding-bottom: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  margin: 1rem;
}

.line-break-bottom {
  border-bottom: #e26203 0.2rem solid;
}

.line-break-top {
  border-top: #e26203 0.2rem solid;
}

.product-info {
  padding-left: 0;
}

.buy {
  text-align: center;
}